In [1]:
!pip install matplotlib.pyplot

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot

In [ ]:
""" Just some notes from the cleaing
Row Number 350085 Column amount: 67
not all locations are places, some are just categories like high income
list of others OtherL_df=['High income','Low income', 'Lower middle income','Upper middle income' ]

to show all loccations
ls_df=(nCovid_df[nCovid_df['location'].unique])

the timeline of this date is 3 years, 9 months, 15 days 2020-1-03 to 2023-10-18
"""

In [ ]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Titanic dataset. Replace 'titanic.csv' with your own dataset file for your project.
# Ensure the dataset file exists and is in the same directory as this jupyter notebook.
Covid_df = pd.read_csv('newcovid.csv')
Air_df = pd.read_csv('Air Quality(Back Up).csv')

# BTW this are is both data cleaning and messing around to see what I have
nCovid_df = (Covid_df.fillna(0))
display(nCovid_df.head(5))
#to discard some things that aren't location
Other=['High income','Low income', 'Lower middle income','Upper middle income', 'European Union', 'World']
Noincov_df=nCovid_df[~nCovid_df['location'].str.contains('|'.join(Other), na=False)]
g=Covid_df[~Covid_df['location'].str.contains('|'.join(Other), na=False)]
UQ_df=(Noincov_df['location'].unique())
display(UQ_df)
Date_df=(Noincov_df[Noincov_df['date'].str.contains('2023-10-14')])

World_df=(Covid_df[Covid_df['location'].str.contains('World')])
#Date_df=(nCovid_df[nCovid_df['date'].str.contains('2023-10-14')])
UN_df=(nCovid_df[nCovid_df['location'].str.contains('High income')])
#ls_df=(nCovid_df[~nCovid_df['location'].str.contains('|'.join(temp_df), na=False)]))
search_df=(nCovid_df[nCovid_df['location'].str.contains('union')])
display(Date_df['total_cases'].sum())

display(World_df[World_df['total_cases']>0])


display(Covid_df.columns)
s_df=(Covid_df['new_cases'].max())
display(Covid_df.loc[100, 'new_cases'])
display(Covid_df[Covid_df['new_cases']==8401961.0])
print(s_df)
#display(Covid_df.sort_values('location'))

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.746,0.5,64.83,0.511,41128772.0,0.0,0.0,0.0,0.0

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'Faeroe Islands',
       'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North America', 'North Korea',
       'North Macedonia', 'Northern Cyprus', 'Northern Ireland',
       'Northern Mariana Islands', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wales', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

np.float64(1542805281.0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
344541,OWID_WRL,NaN,World,2020-01-04,3.0,3.0,NaN,NaN,0.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344542,OWID_WRL,NaN,World,2020-01-05,2.0,0.0,NaN,3.0,3.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344543,OWID_WRL,NaN,World,2020-01-06,5.0,3.0,NaN,3.0,0.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344544,OWID_WRL,NaN,World,2020-01-07,5.0,0.0,NaN,3.0,0.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
344545,OWID_WRL,NaN,World,2020-01-08,6.0,1.0,1.000,3.0,0.0,0.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345920,OWID_WRL,NaN,World,2023-10-14,771405394.0,1177.0,14363.429,6972084.0,4.0,45.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345921,OWID_WRL,NaN,World,2023-10-15,771407061.0,1667.0,12915.286,6972139.0,55.0,43.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345922,OWID_WRL,NaN,World,2023-10-16,771407061.0,0.0,7955.143,6972139.0,0.0,37.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345923,OWID_WRL,NaN,World,2023-10-17,771407061.0,0.0,4032.429,6972139.0,0.0,21.571,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
345924,OWID_WRL,NaN,World,2023-10-18,771407061.0,0.0,2243.857,6972139.0,0.0,17.143,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

np.float64(37.0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
345298,OWID_WRL,NaN,World,2022-01-30,375307853.0,8401961.0,3346361.0,5715126.0,17569.0,9690.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN

8401961.0

In [44]:
#Question one
World_df=(Covid_df[Covid_df['location'].str.contains('World')])
display(World_df['total_deaths'].max())

np.float64(6972139.0)

In [155]:
#question 2
#3*12+9+0.5 ==45.5

6972139.0/45.5

153233.82417582418

In [ ]:
#question 3
loc_df=['location', 'date', 'total_deaths']
Yam=(Noincov_df[loc_df])
Dat_fil_df=(Noincov_df[Noincov_df['date'].str.contains('2023-10-18')])
display(Dat_fil_df['total_deaths'].nlargest(10))
#the top 4 were continents 
display(Dat_fil_df.loc[330865]) 
display(Dat_fil_df.loc[42951])
display(Dat_fil_df.loc[141157])
display(Dat_fil_df.loc[257566])
display(Dat_fil_df.loc[197376])
#United States, Brazil, India, Russia, Mexico

98279     2079783.0
18014     1633880.0
225080    1613118.0
292111    1356419.0
330865    1136920.0
42951      704659.0
141157     532037.0
257566     400102.0
197376     334699.0
2769       259023.0
Name: total_deaths, dtype: float64

iso_code                                             USA
continent                                  North America
location                                   United States
date                                          2023-10-18
total_cases                                  103436829.0
                                               ...
population                                   338289856.0
excess_mortality_cumulative_absolute                 0.0
excess_mortality_cumulative                          0.0
excess_mortality                                     0.0
excess_mortality_cumulative_per_million              0.0
Name: 330865, Length: 67, dtype: object

iso_code                                             BRA
continent                                  South America
location                                          Brazil
date                                          2023-10-18
total_cases                                   37721749.0
                                               ...
population                                   215313504.0
excess_mortality_cumulative_absolute                 0.0
excess_mortality_cumulative                          0.0
excess_mortality                                     0.0
excess_mortality_cumulative_per_million              0.0
Name: 42951, Length: 67, dtype: object

iso_code                                            IND
continent                                          Asia
location                                          India
date                                         2023-10-18
total_cases                                  44999588.0
                                               ...
population                                 1417173120.0
excess_mortality_cumulative_absolute                0.0
excess_mortality_cumulative                         0.0
excess_mortality                                    0.0
excess_mortality_cumulative_per_million             0.0
Name: 141157, Length: 67, dtype: object

iso_code                                           RUS
continent                                       Europe
location                                        Russia
date                                        2023-10-18
total_cases                                 23061960.0
                                              ...
population                                 144713312.0
excess_mortality_cumulative_absolute               0.0
excess_mortality_cumulative                        0.0
excess_mortality                                   0.0
excess_mortality_cumulative_per_million            0.0
Name: 257566, Length: 67, dtype: object

iso_code                                             MEX
continent                                  North America
location                                          Mexico
date                                          2023-10-18
total_cases                                    7692397.0
                                               ...
population                                   127504120.0
excess_mortality_cumulative_absolute                 0.0
excess_mortality_cumulative                          0.0
excess_mortality                                     0.0
excess_mortality_cumulative_per_million              0.0
Name: 197376, Length: 67, dtype: object

In [40]:
#Question 4
ages=['median_age', 'aged_65_older', 'aged_70_older']
col_df=Covid_df.columns
display(col_df[col_df.str.contains('age', na=False)])
#there may be some coflict as the numbers could be overlaping, but i only need a ratio and the ratio should be unaffected
display(nCovid_df[ages])

display(nCovid_df[ages].sum()/1504640.046)
# asnwer from median age,aged_65_older,aged_70_older  5.603240:1.542102:1

Index(['median_age', 'aged_65_older', 'aged_70_older'], dtype='object')

        median_age  aged_65_older  aged_70_older
0             18.6          2.581          1.337
1             18.6          2.581          1.337
2             18.6          2.581          1.337
3             18.6          2.581          1.337
4             18.6          2.581          1.337
...            ...            ...            ...
350080        19.6          2.822          1.882
350081        19.6          2.822          1.882
350082        19.6          2.822          1.882
350083        19.6          2.822          1.882
350084        19.6          2.822          1.882

[350085 rows x 3 columns]

median_age       5.603240
aged_65_older    1.542102
aged_70_older    1.000000
dtype: float64

In [ ]:
#Question 5Y
Popden=['new_deaths', 'population']
temp3_df=(Noincov_df[Popden])
#display(temp3_df[temp3_df[Popden]>3987552476.5])   Doesn't work like I intend
Upper_pop=(temp3_df.query("population > 3987552476.5"))
display(Upper_pop.mean())

Lower_pop=(temp3_df.query("population < 3987552476.5"))
display(Lower_pop.mean())
#(7.975105e+09 - 47.0)/2 == 3987552476.5
#Upper Population New cases mean: 3.094645e+03
#Lower Population New cases mean: 5.951370e+01
#3.094645e+03 *  7.916361e+07 == 244983269868.45
#5.951370e+01 * 6.348244e+09 == 377807488942.8

new_deaths    3.094645e+03
population    6.348244e+09
dtype: float64

new_deaths    5.951370e+01
population    7.916361e+07
dtype: float64

244983269868.45

In [ ]:
#Question 6 Y
Hosp_df=['new_deaths', 'new_cases', 'hosp_patients']
Patient_df=(Noincov_df[Hosp_df])
Upper_pat=Patient_df[Patient_df['hosp_patients'] >77248.5]
display(Upper_pat.mean())

Lower_pat=Patient_df[Patient_df['hosp_patients'] <77248.5]
display(Lower_pat.mean())
(154497.0/2) == 77248.5

#2262.923977/ 107192.994152 * 100 == 2.1110745108874998
#82.734272 / 389.021040 * 100 == 21.267300092560546

new_deaths         2262.923977
new_cases        273021.532164
hosp_patients    107192.994152
dtype: float64

new_deaths         82.734272
new_cases        9280.419330
hosp_patients     389.021040
dtype: float64

True

In [139]:
#question 7 
Vacc=['location','people_vaccinated']
Not=['High income','Low income', 'Lower middle income','Upper middle income', 'European Union', 'World']
Max_df=nCovid_df[~nCovid_df['location'].str.contains('|'.join(Not), na=False)]
Covacc_df=(Max_df.groupby('location')['people_vaccinated'])
display(Covacc_df.max(10))

location
Afghanistan           18293462.0
Africa               553250171.0
Albania                1349150.0
Algeria                7840131.0
American Samoa               0.0
                        ...
Wallis and Futuna         7150.0
Western Sahara               0.0
Yemen                  1041596.0
Zambia                11711565.0
Zimbabwe               6437808.0
Name: people_vaccinated, Length: 249, dtype: float64

In [276]:
#question 8
display(World_df['total_deaths'].max())
display(World_df['total_cases'].max())
display(World_df['population'].max())


#6972139.0/771407061.0 *100 == 0.9038209983405895
6972139.0/7975105024.0*100 == 0.08742378914156354

np.float64(6972139.0)

np.float64(771407061.0)

np.float64(7975105024.0)

True

In [ ]:

#question 9
display(World_df['total_cases'].max())
771407061.0/7975105024.0 *100 == 9.672688430792507

np.float64(771407061.0)

np.float64(6972139.0)

True

In [ ]:
#question 10
Covtest_df=['total_tests', 'positive_rate', 'new_deaths', 'date']
d=g[Covtest_df].dropna(axis=0)
#display(d.mean())
display(d[d['new_deaths']>100].head(40))
#now its time for me to maually count the increases and decreases
#   correlation:~19
#no correlation:~18

       total_tests  positive_rate  new_deaths        date
12635     341240.0          0.235       110.0  2020-06-19
12636     351231.0          0.245       117.0  2020-06-20
12638     367352.0          0.249       111.0  2020-06-22
12639     378876.0          0.252       128.0  2020-06-23
12640     390220.0          0.255       120.0  2020-06-24
12641     402072.0          0.263       124.0  2020-06-25
12642     414424.0          0.270       127.0  2020-06-26
12645     440989.0          0.273       117.0  2020-06-29
12646     452111.0          0.278       153.0  2020-06-30
12647     463496.0          0.283       123.0  2020-07-01
12648     475103.0          0.282       136.0  2020-07-02
12649     487937.0          0.284       138.0  2020-07-03
12650     499701.0          0.291       127.0  2020-07-04
12651     506835.0          0.290       109.0  2020-07-05
12652     517456.0          0.295       181.0  2020-07-06
12653     530371.0          0.296       175.0  2020-07-07
12654     545105.0          0.300       197.0  2020-07-08
12655     558157.0          0.304       144.0  2020-07-09
12656     570188.0          0.309       148.0  2020-07-10
12657     581630.0          0.309       173.0  2020-07-11
12658     589487.0          0.308       135.0  2020-07-12
12659     601799.0          0.311       228.0  2020-07-13
12660     616727.0          0.311       215.0  2020-07-14
12661     631905.0          0.310       194.0  2020-07-15
12662     646936.0          0.313       237.0  2020-07-16
12663     663715.0          0.313       209.0  2020-07-17
12664     678057.0          0.318       125.0  2020-07-18
12665     688234.0          0.320       166.0  2020-07-19
12666     702939.0          0.324       233.0  2020-07-20
12667     720383.0          0.331       266.0  2020-07-21
12668     738632.0          0.338       246.0  2020-07-22
12669     756742.0          0.341       267.0  2020-07-23
12670     775879.0          0.348       202.0  2020-07-24
12671     791328.0          0.347       145.0  2020-07-25
12672     802526.0          0.350       185.0  2020-07-26
12673     818608.0          0.351       231.0  2020-07-27
12674     837958.0          0.348       217.0  2020-07-28
12675     858087.0          0.348       214.0  2020-07-29
12676     877731.0          0.345       214.0  2020-07-30
12677     899309.0          0.343       231.0  2020-07-31